[submodule ".registry"]
	path = .registry
	url = https://github.com/the-mad-statter/the-mad-statter.r-universe.dev
	branch = HEAD
[submodule "SparkR"]
	path = SparkR
	url = https://github.com/apache/spark
	subdir = R/pkg
	registered = false
[submodule "wubik"]
	path = wubik
	url = https://github.com/the-mad-statter/wubik
