[submodule ".registry"]
	path = .registry
	url = https://github.com/the-mad-statter/the-mad-statter.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "wubik"]
	path = wubik
	url = https://github.com/the-mad-statter/wubik
	shallow = true
	registered = true
